@page
@model ImageStorageTesting.Pages.UploadImgModel
@{
    ViewData["Title"] = "UploadImage";
}

<h1>Upload Image</h1>

<p>
    <a asp-page="Index">Back to Main Page</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="ProfileData.ImageFile" class="control-label"></label>
                <input type="file" asp-for="ProfileData.ImageFile" class="form-control" />
                <span asp-validation-for="ProfileData.ImageFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>